<div class="main">
  <div class="top">
    <div class="top-left">
      <div class="me">
        <div class="name">Dave Calderwood</div>
        <div class="title">-Software Developer</div>
        <div class="job">My job is to visualise and make concepts real, currently working at Yona-Brixtel in Tysons, VA as a Junior Developer. We do contract work for the FAA</div>
        
        <div class="hire">Hire Me</div>
      </div>
    </div>

    <div class="top-right">
      <img src="../assets/images/waterski.jpg">
    </div>
  </div>

  <div class="bottom">
    <div class="jobs">
      <div class="title">
        Yona-Brixtel
        <div class="desc">I am a Junior Developer working with Angular 7+ and PrimeNg to deliver a new product to the FAA. I also work with API integration to communicate with the back-end. I work closely with the UI/UX team to ensure that what we deliver is up to our standards.</div>
      </div>
    </div>
  </div>
</div>
